---
layout : page
---

<h1 class="ui header">Categories</h1>
<div id="category-list">
	{% assign sorted_categories = site.categories | sort %}		
	{% for category in sorted_categories %}
	{% assign numb = 0 %}
	<h3 class="ui heade" style="text-transform: capitalize;">{{ category[0] }}</h3>
	<div class="ui ten stackable cards">
		{% for post in category[1] %}
		<div class="card" data-tooltip="{{ post.title }}">
			<a class="image">
				<img src="{% if post.thumbnail %}{{ site.baseurl }}/posts/{{ post.thumbnail }}{% else %}{{ site.baseurl }}/assets/img/{{ post.title | slice: 0 | capitalize }}.jpg{% endif %}">
			</a>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>