---
layout : page
---

<h1 class="ui header">Tags</h1>
<div>
	<div class="ui five stackable cards" id="tag-list">	
		{% assign sorted_tags = site.tags | sort %}			
		{% for tag in sorted_tags %}
		{% assign numb = 0 %}

		<div class="card">
			<div class="content">
				<a class="header" id="{{ tag[0] | slugify }}">{{ tag[0] }}</a>
				{% for post in tag[1] %}
				{% assign numb = numb | plus: 1 %}
				{% endfor %}
				<div class="description">{{ numb }} Sparkles</div>
			</div>
		</div>

		{% endfor %}
	</div>
</div>
