<footer>
	<div class="ui stackable grid container">
		<div class="five wide column">
			<h4 class="ui header">About {{ site.name }}</h4>
			<p>{{ site.description }}</p>
		</div>
		<div class="four wide column">
			
		</div>
		<div class="three wide column">

		</div>
		<div class="four wide center aligned column">
			<a target="_blank" href="https://facebook.com/{{ site.social.facebook }}" class="ui circular facebook icon button">
				<i class="facebook icon"></i>
			</a>
			<a target="_blank" href="https://twitter.com/{{ site.social.twitter }}" class="ui circular twitter icon button">
				<i class="twitter icon"></i>
			</a>
			<a target="_blank" href="http://linkedin.com/company/{{ site.social.linkedin }}" class="ui circular linkedin icon button">
				<i class="linkedin icon"></i>
			</a>
			<a target="_blank" href="https://instagram.com/{{ site.social.instagram }}" class="ui circular instagram icon button">
				<i class="instagram icon"></i>
			</a>
			<a target="_blank" href="https://github.com/{{ site.social.github }}" class="ui circular grey github icon button">
				<i class="github icon"></i>
			</a>
		</div>
	</div>
</footer>